<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    Welcome to BBC!<br />
    <a href="/post/logan/helloworld">Post: Hello world!</a>
    <a href="/post/jumbo/helloworld">Post: Jumbo's world</a>
  </body>
</html>
