@import url("screen.css");
/* line 9, ../sass/style.scss */
body {
  background-color: #105b63;
  background-image: -webkit-linear-gradient(0, transparent, transparent 49.9%, #093337 50%, white 50%, white 50.1%, #bd4932 50.1%, #bd4932 50.6%, #db9e36 50.6%, #db9e36 51.1%, #fffad5 51.1%, #fffad5);
}

/* line 13, ../sass/style.scss */
.darken h1, .darken h2, .darken h3, .darken h4, .darken h5, .darken h6 {
  color: #ddd;
}

/* line 14, ../sass/style.scss */
.darken p {
  color: #ccc;
}

/* line 17, ../sass/style.scss */
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
}

/* line 23, ../sass/style.scss */
aside ul {
  list-style: none;
  padding: 0;
}

/* line 27, ../sass/style.scss */
.navigation {
  height: 40px;
  margin-bottom: 0px;
}

/* line 31, ../sass/style.scss */
.navtop {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #F3F3F3;
  height: 6px;
}

/* line 37, ../sass/style.scss */
.navigation nav {
  background-color: #F3F3F3;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: -6px;
  overflow: hidden;
  background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #e2e2e2 100%);
}

/* line 47, ../sass/style.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

/* line 50, ../sass/style.scss */
nav li {
  float: left;
  padding: 0;
}

/* line 53, ../sass/style.scss */
nav li a {
  display: block;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  padding: 0;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
  text-transform: uppercase;
  color: #888888;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 0px;
  border-right: 1px solid rgba(199, 199, 199, 0.8);
  box-shadow: 1px 0 1px white;
}

/* line 68, ../sass/style.scss */
nav li.active a {
  color: rgba(0, 102, 153, 0.8);
}

/* line 71, ../sass/style.scss */
nav li a:hover {
  background-color: rgba(0, 102, 153, 0.5);
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  text-shadow: rgba(0, 0, 0, 0.4) -1px -1px 0px;
}

/* line 77, ../sass/style.scss */
nav li a span {
  display: block;
  padding: 0 20px;
}

/* line 81, ../sass/style.scss */
.timeline {
  position: relative;
  height: 140px;
  padding-top: 25px;
}

/* line 86, ../sass/style.scss */
.timelinebar {
  -webkit-perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -18px;
}

/* line 94, ../sass/style.scss */
.timelinebar > div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-radial-gradient(50% 0%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../img/textile.png);
  background-color: #f0f0f0;
  -webkit-transform: rotateX(60deg);
  z-index: 1;
}

/* line 103, ../sass/style.scss */
.timeline ul {
  margin: 0;
  position: relative;
  z-index: 9;
  top: 24px;
  padding: 0 0 0 80px;
}

/* line 110, ../sass/style.scss */
.timeline li {
  float: left;
  margin: 15px;
  display: block;
  width: 88px;
  height: 78px;
  position: relative;
}

/* line 119, ../sass/style.scss */
.timeline li a {
  display: block;
  width: 80px;
  height: 70px;
  padding: 4px;
  position: relative;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #cdcdcd;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 132, ../sass/style.scss */
.timeline li a img {
  max-width: 80px;
  -webkit-border-radius: 5px;
}

/* line 136, ../sass/style.scss */
.timeline li:after {
  content: '';
  display: block;
  width: 40%;
  height: 15px;
  position: absolute;
  z-index: 9;
  bottom: 2px;
  right: 24px;
  box-shadow: 30px 0 6px rgba(0, 0, 0, 0.3);
  -webkit-transform: skew(-30deg);
}

/* line 148, ../sass/style.scss */
.timeline li:hover:after {
  display: none;
}

/* line 151, ../sass/style.scss */
.timeline li.today {
  background-color: #ccd;
}

/* line 154, ../sass/style.scss */
.timeline li a:hover {
  background-color: #fff;
  -webkit-transform: scale(1.1, 1.1);
}

/* line 158, ../sass/style.scss */
.textile {
  background: #afafb1 url(../img/bg_tile.jpg);
}

/* line 161, ../sass/style.scss */
section.posts {
  width: 50%;
  float: left;
}

/* line 165, ../sass/style.scss */
section.posts article {
  margin: 20px;
}

/* line 168, ../sass/style.scss */
.container aside {
  border-right: 2px solid #cccccc;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.9) inset;
  padding-bottom: 20px;
}

/* line 173, ../sass/style.scss */
.container aside h2, .container aside p {
  margin: 10px;
}

/* line 176, ../sass/style.scss */
.body {
  background: #e6e8eb url(../img/textile.png);
  min-height: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-top: 2px solid #c2c2c2;
}

/* line 183, ../sass/style.scss */
.container article {
  border-bottom: 1px solid #fdfdfd;
  box-shadow: 0 -1px 0 #dfdfdf inset;
}

/* line 187, ../sass/style.scss */
.container .darken article {
  border-bottom: 1px solid #393939;
  box-shadow: 0 -1px 0 #292929 inset;
}

/* line 191, ../sass/style.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #eee;
  background-image: -webkit-linear-gradient(0, transparent, transparent 49.9%, white 50%, #222222 50%, #222222 50.1%, #333333 50.1%, #333333);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3) inset;
}

/* line 200, ../sass/style.scss */
footer .command {
  float: left;
  width: 50%;
}

/* line 204, ../sass/style.scss */
footer .command p, footer .command input {
  margin: 0 10px;
}

/* secondary styles
--------------------------------------------- */
/* line 212, ../sass/style.scss */
aside h3 {
  margin: 0 0 15px 0;
  padding: 0 0 8px 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  background: url(../img/border-2px.gif) repeat-x bottom left;
}

/* line 221, ../sass/style.scss */
aside h3.color {
  margin: 0;
  padding: 0 0 6px 0;
}

/* line 225, ../sass/style.scss */
aside h3 span.meta {
  font-weight: normal;
  line-height: 12px;
  color: #666;
}

/* line 230, ../sass/style.scss */
aside h3.tab {
  padding-bottom: 0;
}

/* line 233, ../sass/style.scss */
aside h3.tab:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 240, ../sass/style.scss */
aside h3 .help {
  float: right;
  margin: -3px 0 0 0;
}

/* line 244, ../sass/style.scss */
aside h3 a.help img {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

/* line 250, ../sass/style.scss */
aside h3 a.help:hover img {
  opacity: .5;
}

/* line 253, ../sass/style.scss */
.tab a {
  float: left;
  padding: 0 12px 8px 0;
  color: rgba(136, 136, 136, 0.9);
  font-weight: normal;
  text-decoration: none;
  background: url(../img/icon-bluearrow.png) no-repeat 100% 2px;
}

/* line 261, ../sass/style.scss */
.tab a:hover {
  background-position: 100% -20px;
}

/* line 264, ../sass/style.scss */
aside h3.tab a span.meta {
  color: rgba(136, 136, 136, 0.8);
}

/* line 268, ../sass/style.scss */
.tab a:hover,
aside h3.tab a:hover span.meta {
  text-decoration: none;
  color: rgba(226, 64, 64, 0.9);
}

/* line 272, ../sass/style.scss */
aside h3.more-from-player a {
  text-transform: none;
}

/* line 275, ../sass/style.scss */
aside h3 a.hex-chip {
  display: inline-block;
  width: 23px;
  font-size: 9px;
  line-height: 1.3em;
  vertical-align: bottom;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) inset;
}

/* line 290, ../sass/style.scss */
aside h3 strong {
  font-weight: bold;
  color: #777;
}

/* line 294, ../sass/style.scss */
aside h3 em {
  font-size: .9em;
  font-weight: normal;
  font-style: normal;
  color: #777;
}

/* line 300, ../sass/style.scss */
aside h4.title {
  font-size: 1.1em;
  padding: 10px 0 0 0;
  margin: 0 0 5px 0;
}

/* line 305, ../sass/style.scss */
aside span.size {
  margin-left: 3px;
  font-size: .9em;
  font-weight: normal;
  color: #666;
}

/* line 311, ../sass/style.scss */
aside h3 a.all {
  float: right;
  font-size: .9em;
  font-weight: bold;
  line-height: 1.8;
}

/* line 317, ../sass/style.scss */
aside h3 a.help {
  float: right;
  font-size: .9em;
  font-weight: normal;
  line-height: 1.4;
}

/* line 324, ../sass/style.scss */
aside p.info,
aside ul.info {
  margin: 0 0 10px 0;
  font-size: .9em;
  line-height: 1.4;
  color: #777;
}

/* line 330, ../sass/style.scss */
aside p.copy {
  margin: 0 0 25px 0;
  font-size: .9em;
  line-height: 1.4;
  color: #777;
}

/* line 336, ../sass/style.scss */
aside p.copy-note {
  font-size: 11px;
  line-height: 1.4;
}

/* line 340, ../sass/style.scss */
aside p.copy-confirm {
  margin-top: -15px;
}

/* color chips list */
/* line 345, ../sass/style.scss */
div.subset-colors {
  margin: 0 0 20px 0;
}

/* line 348, ../sass/style.scss */
ul.color-chips {
  margin: 0 0 5px 0;
  padding-top: 10px;
}

/* line 352, ../sass/style.scss */
ul.color-chips li {
  float: left;
  margin: 0 0 5px 0;
}

/* line 356, ../sass/style.scss */
ul.color-chips li:last-child {
  margin-right: 0;
}

/* line 359, ../sass/style.scss */
ul.color-chips li a {
  float: left;
  width: 22px;
  height: 12px;
  text-indent: -9999px;
  background-image: url(/images/glass-light.png);
  background-repeat: repeat-x;
  background-position: 0 50%;
}

/* line 368, ../sass/style.scss */
div.subset-colors ul.color-chips li a {
  width: 20px;
}

/* line 371, ../sass/style.scss */
ul.color-chips li:first-child a {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 379, ../sass/style.scss */
ul.color-chips li:last-child a {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 388, ../sass/style.scss */
ul.color-chips li a:hover,
ul.color-chips li.current a {
  background-image: none;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 398, ../sass/style.scss */
h3 ul.color-chips {
  display: inline;
  float: none;
}

/* line 402, ../sass/style.scss */
h3 ul.color-chips li {
  display: inline;
  float: none;
}

/* line 406, ../sass/style.scss */
h3 ul.color-chips li a {
  display: inline-block;
  float: none;
}

/* popular tags */
/* line 413, ../sass/style.scss */
ol.popular-tags {
  margin: 0 0 10px;
  list-style: none;
  padding: 0;
}

/* line 418, ../sass/style.scss */
ol.popular-tags-player {
  margin-bottom: 20px;
}

/* line 421, ../sass/style.scss */
ol.popular-tags li {
  float: left;
  margin: 0;
  font-size: 11px;
  line-height: 1;
}

/* line 427, ../sass/style.scss */
ol.popular-tags li span.perc {
  display: none;
}

/* line 430, ../sass/style.scss */
ol.popular-tags li a {
  float: left;
  margin: 0 6px 6px 0;
  padding: 3px 6px 4px 6px;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  color: #777;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.07) url(/images/glass.png) repeat-x 0 50%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 5px;
  border-radius: 4px;
}

/* line 444, ../sass/style.scss */
ol.popular-tags li a strong {
  font-weight: normal;
}

/* line 447, ../sass/style.scss */
ol.popular-tags li:hover {
  background: none;
}

/* line 450, ../sass/style.scss */
ol.popular-tags li em {
  display: none;
}

/* line 453, ../sass/style.scss */
ol.popular-tags li a:hover {
  text-decoration: none;
  color: #555;
  border-color: #bbb;
  background-color: rgba(0, 0, 0, 0.1);
}
